
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block; 
    object-fit: cover;
  } 

  .swiper-width-auto{
    width: auto !important;
  }

  .swiper-left-margin-16{
    margin-left: 16px;
  }

  .swiper-left-margin-4{
    margin-left: 4px;
  }

  .tag-loading{
    width:50px !important;
  }