
.swiper-slide-community {
  height: calc((100% - 30px) / 2) !important;
  width:350px !important;
  margin-left:16px;
  margin-top:10px !important;
}

.swiper-grid-column > .swiper-wrapper{
  flex-direction: unset !important;
  }