
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    width:280px;
  }
  
  .swiper-slide img {
    display: block; 
    object-fit: cover;
  }
  
  .crew {
    width:230px !important;
    margin-left:10px;
  }
